<div class="nav-spacer">
  <img src="<%= asset_path( 'lauren_smolenski_logo.png' ) %>" alt="">
</div>

<div class="nav-container">
  <a href="<%= root_path %>" id="home-link">
    <img src="<%= asset_path( 'lauren_smolenski_logo.png' ) %>" alt="" id="main-logo">
  </a>

  <nav class="nav-menu navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="<%= about_path %>">ABOUT</a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MY WORK
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">EDEN ESSENCE</a>
          <a class="dropdown-item" href="<%= breathwork_path %>">BREATHWORK</a>
          <a class="dropdown-item" href="#">HERO PROJECTS</a>
        </div>
        <a class="nav-item nav-link" href="#">CONTACT</a>
      </div>
    </div>
  </nav>
</div>

<div class="page-content-container">
  <div class="page-content-left">
    <div class="page-title">
      <h2>BREATHWORK</h2>
    </div>

    <div class="mobile-img d-sm-none">
      <img src="<%= asset_path( 'mobile_breathwork.png' ) %>" alt="">
    </div>

    <div class="page-text">
      <p>This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air. This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air. This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air. This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air. This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air.</p>

      <p>This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air. This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air. This is a story all about hell my life took jump and turned upside down. Sweet prince of bel air.</p>
      <p>I think people are ready for a new world that is driven by consumptions. A world where quality of life is the priority. We have created a world that is all about productivity and here we find ourselves totally disconnected. We are disconnected from ourselves and others. </p>
    </div>
  </div>

  <div class="page-content-right d-none d-sm-inline-block">
    <img src="<%= asset_path( 'breathwork.jpg' ) %>" alt="">
  </div>
</div>

<div class="my-work-container">
  <div class="my-work-title">
    <h2>MY WORK</h2>
  </div>

  <div class="logos-box">
    <div class="logo-container">
      <div class="logo-content">
        <img src="<%= asset_path( 'eden_essence_logo.png' ) %>" alt="">
        <div class="links-container">
          <a href="#"><p>read about <i class="fa fa-chevron-right"></i></p></a>
          <a href="#"><p>go to website <i class="fa fa-chevron-right"></i></p></a>
        </div>
      </div>
    </div>

    <div class="logo-container">
      <div class="logo-content">
        <img src="<%= asset_path( 'breathwork_logo_home.png' ) %>" alt="">
        <div class="links-container">
          <a href="#"><p>read about <i class="fa fa-chevron-right"></i></p></a>
          <a href="#"><p>go to website <i class="fa fa-chevron-right"></i></p></a>
        </div>
      </div>
    </div>

    <div class="logo-container">
      <div class="logo-content hero">
        <img src="<%= asset_path( 'hero_projects_logo_home.png' ) %>" alt="">
        <div class="links-container">
          <a href="#"><p>read about <i class="fa fa-chevron-right"></i></p></a>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-none d-sm-inline-block">
        <p class="copyright">Copyright © 2020 laurensmolenski.com. All rights reserved.</p>
      </div>
      <div class="col text-right">
        <p class="contact">Say 'Hello'... &nbsp; &nbsp; &nbsp; <a href="#">CONTACT <i class="fa fa-chevron-right"></i></a></p>
      </div>
    </div>

  </div>

</div>
